@charset "ISO-8859-1";

h1{
	text-align: center;
}

div{
	text-align: center;
	font-size: large;
	font-family: cursive;
}

.buttonRegistration{
	width: 90px;
	height: 30px;
}

table{
	border:  1px dashed black ;
	width: 800px;
}

th, tr, td {
	border:  1px dashed black ;
}